#contact-main{
    /*overflow:hidden;*/
    /*padding-bottom:186px;*/
    padding-top:83px;
    display:grid;
    flex-direction:row;
    /*justify-content: center;*/
    /*align-items:center;*/
    /*width:100%;*/
    position:relative;
    min-height:100%;
    grid-template-columns:1fr 1fr;
    /**/
}

#contact_container{
    grid-column:1;
}