#services_main_container{
    display:flex;
    flex-direction:column;
    height:100%;
}

#services-container{
    /* min-height:80vh; */
    height: 100%;
}
#services-main{
    /* background-color: aquamarine; */
    /* overflow:hidden; */
    /* padding-bottom:186px; */
    /* padding-top:83px; */
    display: grid;
    grid-template-columns: 1fr 7fr;
    /* justify-content: center; */
    /* align-items:center; */
    width:100%;
    position:relative;
    justify-content:space-between;
    /* padding-top:10px; */
/**/
    height: 100%;
}

.services-section{
    /* flex:1; */
    /*border: 2px solid orange;*/
    /* align-items: center; */
    /* height:100%; */
    /* width:100%; */
    /* justify-content:center; */
}

#selector-section{
    display: grid;
    /*background-color: blue;*/
    /* height: 100%; */
    /*width:100%;*/
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr;
    /*border-right:1px solid black;*/
    /* padding-top: 83px; */
}

#showcase-section{
    /* display:grid; */
    /* grid-template-columns:1fr 1fr; */
    text-align: center;
    align-content: center;
    /* height:100%; */
    /* width:100%; */
    flex:3;
    /* background-color:red; */
    /* padding-top: 83px; */
}

#service-showcase-inner{
    height:100%;
    width:100%;

}

.service-item{
    display: flex;
    /*border:2px solid red;*/
    /* align-content: center; */
    text-align: center;
    justify-content: center;
    align-content:center;
    align-items:center;
    transition: 1s;
}

.service-item:hover{
    box-shadow: inset 0 0 20px 10px #51b6ff;
    transition: 1s;

}
/*.service_item{*/
    /*display:none;*/
    /*width: 100%;*/
    /*height:90vh;*/
    /*!*padding:10px;*!*/
    /*!*height:100px;*!*/
    /*!*border: 2px solid red;*!*/
    /*position:relative;*/
    /*margin:3px;*/
    /*flex:1;*/
    /*align-items:stretch;*/
    /*!*justify-content: center;*!*/
    /*!*transition:1s;*!*/
    /*min-height:100%;*/
    /*opacity:0;*/
    /*!*background-color:red;*!*/
    /*grid-template-rows: 35% 65%;*/
    /*grid-template-columns: 25% auto 25%;*/

/*}*/

.service_photo_header{
    grid-row:1;
    grid-column:2;
    width:100%;
    border-radius:15px;
}

.service_photo_header img{
    width:300px;
    height:auto;
    border-radius:15px;
}

.service_content{
    display: flex;
    flex-direction:column;
    grid-row:2;
    grid-column:2;
    align-content: space-between;
    justify-content: space-between;
}

.service_content ul{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-bottom:50px;
}

.service_content li{
    font-weight: bold;
}
#interior2{
    grid-row:1;
    /*grid-row-end:1*/
}

#exterior2{
    border-top: 1px solid black;
    grid-row:2;
    /*grid-row-end:2;*/
}

#repairs2{
    grid-row:3;
    border-top:1px solid black;
    /*grid-row-end:3;*/
}

/*.showcase-item{*/
    /*width:100%;*/
    /*height: 100%;*/
    /*grid-column: 2;*/
    /*background-color: red;*/
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
/*}*/



.container{
    /*text-align: center;*/
    display: flex;
    align-items:center;
    justify-content:center;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    position:relative;
    padding:90px;
    flex-direction:column;
}


.showcase_header{
    text-decoration: underline;
    display: grid;
    grid-column-start:2;
    grid-column-end: 2;
    align-items: center;
    justify-content: center;
}

#interiorShow{
    opacity: 0;
    height:100%;
    /* width: 100%; */
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}


#exteriorShow{
    opacity: 0;
    height:100%;
    display:none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

#repairShow{
    opacity: 0;
    height:100%;
    display:none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}


#interiorShow.active{
    display: grid;
}

#exteriorShow.active{
    display: grid;
}

#repairShow.active{
    display: grid;
}
#interiorShow.opacity-class{
    transition:1.5s;
    opacity: 1;
}

#exteriorShow.opacity-class{
    transition: 1.5s;
    opacity: 1;
}

#repairShow.opacity-class{
    transition: 1.5s;
    opacity:1;
}

.service_item_list{
    /* height: 100%; */
    /* background-color: blue; */
    display: grid;
    grid-row: 2;
    grid-column: 2;
    /* padding-right: 50px; */
    /* justify-content: center; */
    /* align-content: stretch; */
}


.service_item_list ul{
    display: grid;
    /* width: 100%; */
    /* height: 100%; */
    /* align-items: center; */
}

#interior_service_photo{
    background-repeat: no-repeat;

    background-image: url("/images/inside-work.jpeg");
    margin: 10px;
}

#exterior_service_photo{
    /*width: 100%;*/
    background-repeat: no-repeat;
    background-image: url("/images/louvers.jpeg");
    margin: 10px;
}

#repair_service_photo{
    /*width: 100%;*/
    background-repeat: no-repeat;
    background-image: url("/images/repair_photo.jpeg");
    margin: 10px;
}

.service_item_photo{
    grid-row-start: 1;
    grid-row-end: 3;
    background-position: center;
    background-attachment: initial;
    background-size:cover;
}



@media all and (max-width:1000px){
    .service_item_photo{
        background-size: contain;
        grid-row: 1;
    }
    #interiorShow{
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }
    #exteriorShow{
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }
    #repairShow{
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1fr 3fr;
    }
    .showcase_header{
        grid-column:1;
        grid-row:2
    }
    .service_item_list{
        grid-column:1;
        grid-row:3;
    }
}