#services-main{
    /*overflow:hidden;*/
    /*padding-bottom:186px;*/
    /*padding-top:83px;*/
    display:flex;
    flex-direction:row;
    /*justify-content: center;*/
    /*align-items:center;*/
    /*width:100%;*/
    position:relative;
    justify-content:space-between;
    min-height:100%;
    padding-top:10px;
/**/
}

.services-section{
    flex:1;
    /*border: 2px solid orange;*/
    align-items: center;
    height:100%;
    width:100%;
    justify-content:center;
}

#selector-section{
    display: grid;
    /*background-color: blue;*/
    height:90vh;
    /*width:100%;*/
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:1fr;
    /*border-right:1px solid black;*/
}

#showcase-section{
    display:grid;
    /*text-align:center;*/
    align-content: center;
    height:100%;
    width:100%;
    flex:3;
}

#service-showcase-inner{
    height:100%;
    width:100%;

}

.service-item{
    display:grid;
    /*border:2px solid red;*/
    align-items: center;
    justify-content:center;
    height:100%;
    width:100%;
    grid-column: 1;
}

.service_item{
    display:none;
    width: 100%;
    height:90vh;
    /*padding:10px;*/
    /*height:100px;*/
    /*border: 2px solid red;*/
    position:relative;
    margin:3px;
    flex:1;
    align-items:stretch;
    /*justify-content: center;*/
    /*transition:1s;*/
    min-height:100%;
    opacity:0;
    /*background-color:red;*/
    grid-template-rows: 35% 65%;
    grid-template-columns: 25% auto 25%;

}

.service_photo_header{
    grid-row:1;
    grid-column:2;
    width:100%;
    border-radius:15px;
}

.service_photo_header img{
    width:300px;
    height:auto;
    border-radius:15px;
}

.service_content{
    display: flex;
    flex-direction:column;
    grid-row:2;
    grid-column:2;
    align-content: space-between;
    justify-content: space-between;
}

.service_content ul{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding-bottom:50px;
}

.service_content li{
    font-weight: bold;
}
#interior2{
    grid-row:1;
    /*grid-row-end:1*/
}

#exterior2{
    border-top: 1px solid black;
    grid-row:2;
    /*grid-row-end:2;*/
}

#repairs2{
    grid-row:3;
    border-top:1px solid black;
    /*grid-row-end:3;*/
}

#interiorShow.active{
    display:grid;
}

.opacity-class{
    opacity:1;
    transition:opacity 1s ease-in-out;
}

#exteriorShow.active{
    display:grid;
}

#repairShow.active{
    display:grid;
    /*justify-content:center;*/
}

/*.service_item .boxes{*/
    /*opacity: 0;*/
    /*transition:2s;*/
/*}*/

.container{
    /*text-align: center;*/
    display: flex;
    align-items:center;
    justify-content:center;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%,-50%);*/
    position:relative;
    padding:90px;
    flex-direction:column;
}

